# A file containing a list of collections to be installed.
# Usage:
# jinja2 requirements-local.yml.j2 -D "pwd=$PWD" -o requirements-local.yml
# ansible-galaxy collection install -r requirements-local.yml
# Note: Keep collections and keys sorted alphabetically.
---
collections:
  - name: cogni_ai.github_models
    source: "{{ pwd }}"
    type: dir
